<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vhisyhnu.iaccomm">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Student.ResetPassword"></activity>
        <activity android:name=".Chat.MessageActivity" />
        <activity android:name=".Chat.MainChatActivity" />
        <activity android:name=".Student.Message.ChatsFragment" />
        <activity android:name=".Student.Message.StudentMessage" />
        <activity android:name=".Admin.StudentView" />
        <activity android:name=".Staff.Search.MonthRecycler" />
        <activity android:name=".Staff.Search.IdRecycler" />
        <activity android:name=".Staff.Search.SearchActivity" />
        <activity android:name=".Student.IP.InternetSolution4" />
        <activity android:name=".Student.IP.InternetSolution3" />
        <activity android:name=".Student.IP.InternetSolution2" />
        <activity android:name=".Student.IP.InternetSolution1" />
        <activity android:name=".AboutActvity" />
        <activity android:name=".Student.IP.InternetSolution" />
        <activity android:name=".Student.Announcement.DetailsActivity" />
        <activity android:name=".Staff.StaffSolved" />
        <activity android:name=".Staff.StaffInProcess" />
        <activity android:name=".Staff.ComplaintDashboard" />
        <activity android:name=".Student.Complaint.MyComplaint" />
        <activity android:name=".Student.RegisterActivity" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Student.StudentActivity"
            android:theme="@style/Theme" />
        <activity android:name=".Student.StudentDashboard" />
        <activity android:name=".Student.Complaint.Complaint" />
        <activity android:name=".Student.Notify.Notify" />
        <activity android:name=".Student.Dashboard" />
        <activity android:name=".Student.Announcement.Announcements" />
        <activity android:name=".Student.Request.StudentRequest" />
        <activity android:name=".Student.Notify.StudentNotify" />
        <activity
            android:name=".Staff.StaffActivity"
            android:theme="@style/Theme" />
        <activity android:name=".Staff.StaffDashboard" />
        <activity android:name=".Staff.StaffAnnouncement" />
        <activity android:name=".Staff.StaffComplaint" />
        <activity android:name=".Staff.StaffRequest" />
        <activity android:name=".Staff.StaffNotify" />
        <activity android:name=".Student.Complaint.StudentComplaint" />
        <activity android:name=".Admin.AdminActivity" />
        <activity android:name=".Admin.AdminDashboard" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".Student.IP.InternetAutoSolution" />
        <activity android:name=".Admin.StaffRegister" />
        <activity android:name=".Admin.StudentRegister" />

        <service
            android:name=".Chat.Notification.MyFirebaseIdService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".Chat.Notification.MyFirebaseMessaging"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>