<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vhisyhnu.iaccomm">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StudentActivity"
            android:theme="@style/Theme" />
        <activity android:name=".StudentDashboard" />
        <activity android:name=".Complaint" />
        <activity android:name=".Notify" />
        <activity android:name=".links" />
        <activity android:name=".Dashboard" />
        <activity android:name=".Announcements" />
        <activity android:name=".Status" />
        <activity android:name=".Settings" />
        <activity android:name=".StudentRequest" />
        <activity android:name=".StudentNotify" />
        <activity
            android:name=".StaffActivity"
            android:theme="@style/Theme" />
        <activity android:name=".StaffDashboard" />
        <activity android:name=".StaffAnnouncement" />
        <activity android:name=".StaffComplaint" />
        <activity android:name=".StaffRequest" />
        <activity android:name=".StaffNotify" />
        <activity android:name=".ElectricityAutoSolution" />
        <activity android:name=".StudentComplaint" />
        <activity android:name=".AdminActivity" />
        <activity android:name=".AdminDashboard" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".InternetAutoSolution" />
        <activity android:name=".StaffRegister" />
        <activity android:name=".StudentRegister" />
        <activity android:name=".DetailActivity" />
    </application>

</manifest>